DOME_API_KEY=your_dome_api_key_here
POLYMARKET_API_KEY=your_polymarket_api_key_here
POLYMARKET_API_SECRET=your_polymarket_api_secret_here
POLYMARKET_API_PASSPHRASE=your_passphrase_here
PAPER_MODE=true
CAPITAL_PER_SHOCK=50.0
